<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../public/layout/head") %>
    <title>Błąd płatności</title>
</head>
<body>
    <div class="payError">
        <div class="payError2">
            <h2>Coś poszło nie tak.</h2>
            <a href="/products"><button type="button" class="btn btn-warning">Wróć do produktów</button></a>
        </div>
        
    </div>
</body>
</html>