<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../public/layout/head") %>
    <title>Wszystko się udało</title>
</head>
<body>
    <div class="paySuccess">
        <div class="paySuccess2">
            <h2>Złożono zamówienie.</h2>
            <a href="/products"><button type="button" class="btn btn-secondary">Wróć do produktów</button></a>
        </div>
        
    </div>
</body>
</html>